:root {
    --title-color: #40265B;
    --primary-color: #8BC34A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: white;
    -webkit-font-smooothing: antialiased;
    /* 
     */
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 45px;
}
